body {
  display: block;
  margin: 8px;
  /* When I inpectioned the Homework website, I saw that the max-width limit was set and I applied it.   */
  max-width: 1216px;
}

ul {
  display: block;
  margin: 16px 0px;
  padding-left: 40px;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
